/**************************************************************
*     ####         #                               #          * Jobuzzle - Copyright All rights reserved
*     ####         #                               #          *
*       ##  #####  ######  #     # ####### ####### #  #####   * @Author: revers
*       ## #     # #     # #     #      #       #  # #     #  *
*       ## #     # #     # #     #     #       #   # #     #  * @Date:   2015-08-08 11:12:48
*       ## #     # #     # #     #    #       #    # #     #  *
*       ## #     # #     # #     #   #       #     # ######   * @Last Modified by:   revers
*  ####### #     # #     # #     #  #       #      # #        *
*  ######   #####   ######  #####  ####### ####### # #######  * @Last Modified time: 2015-11-06 08:51:37
**************************************************************/

div.baseuser.timeline {
	display: inline-block;
	width : 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	@include backgroundApp;

	div.avatar {
		width : 120px;
		height: 120px;
		border-radius: 50%;
		margin-left: auto;
		margin-right: auto;
		background-size: cover;
		background-color : rgba($primary_color, 0.8);
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		border: 2px solid $secondary_color;
		@include animation('fadeIn 1s linear both');
		opacity: 0;
	}

	div.user-bottom-info {
		width: 100%;
		height: 30px;
		transition: 0.3s;
		color: $primary_color;
		text-align: center;

		span.username {
			line-height: 30px;
			font-size: 12px;
		}
	}

}