/**************************************************************
*     ####         #                               #          * Jobuzzle - Copyright All rights reserved
*     ####         #                               #          *
*       ##  #####  ######  #     # ####### ####### #  #####   * @Author: revers
*       ## #     # #     # #     #      #       #  # #     #  *
*       ## #     # #     # #     #     #       #   # #     #  * @Date:   2015-11-08 02:21:44
*       ## #     # #     # #     #    #       #    # #     #  *
*       ## #     # #     # #     #   #       #     # ######   * @Last Modified by:   revers
*  ####### #     # #     # #     #  #       #      # #        *
*  ######   #####   ######  #####  ####### ####### # #######  * @Last Modified time: 2015-11-10 01:54:44
**************************************************************/

div.baseuser.view {

	div.baseuser.miniature {
		display: block;
		width: 160px;
		height: 160px;
		border: 2px solid $secondary_color;
		margin: 20px auto;
	}

	div.explain {
		display: inline-block;
		vertical-align: top;
		text-align: center;
		width: 100%;
		padding-bottom: 20px;

		div.name {
			display: block;
			vertical-align: top;
			color: $primary_color;
			font-size: 64px;
			font-weight: 200;
		}

		p.description {
			display: block;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			color : darken($white_color, 35);
			width: 80%;
		}
	}

	p.description {
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		color : darken($white_color, 35);
		width: 800px;
	}

	div.nameProfile {
		display: inline-block;
		vertical-align: top;
		margin-left : 20px;
		color: $primary_color;
		font-size: 26px;
		font-weight: bold;
	}
}